#app-form-main {
    position: relative;
}

.field-applicationform-out_num {
    position: absolute;
    left: 155px;
    top: 0;
}

.field-applicationform-out_date {
    position: absolute;
    left: 315px;
    top: 0;
}

#applicationform-type {
    width: 135px;
}

#applicationform-period {
    width: 135px;    
}

#applicationform-department {
     width: 175px;    
}

#applicationform-year {
    width: 135px;
}

#applicationform-state {
    width: 135px;
}

.field-applicationform-period {
    position: absolute;
    left: 155px;
    top: 130px;    
}

.field-applicationform-department {
    position: absolute;
    left: 310px;
    top: 130px;   
}

.field-applicationform-year {
    position: absolute;
    left: 505px;
    top: 130px;    
}

.app-category-wrp {
    position: absolute;
    left: 160px;
    top: 215px; 
}

.app-category-wrp label {
    position: absolute;
    left: 0;
    bottom: 30px;    
}

.app-category-wrp select {
    width: 200px;
}