#letter-text {
    border: 1px solid #B49A6A;
    width: 720px;
    padding: 10px;
    margin-top: 15px;    
}

#letter-text ul, #letter-text ol{
    margin-left: 15px;    
}

#letter-whom-wrp, #letter-from-wrp {
    margin: 10px 0 0;
    padding: 10px 0;
    border-top: 1px solid #B49A6A;
    border-bottom: 1px solid #B49A6A;
}

.letter-whom-header, .letter-whom-body{
    margin-bottom: 10px;
}

#letter-from-select {
    padding-left: 5px;
}

.copy-position, .copy-name, .whom-position, .whom-name, .from-position, .from-name {
    margin: 0 20px 0 10px;
    width: 220px;
    padding-left: 5px;
}

.copy-name, .whom-name {
    margin: 0 0 0 10px;
}

.toggle-whom-copy {
    margin: 0 5px 0 30px !important;
}

#delete-input-copy, #delete-input-from {
    text-decoration: underline;
    color: #000;
    margin-left: 30px;
}

#delete-input-from {
    margin-right: 40px;
}