table td:nth-child(3) a{
    color: #0a0a0a;
}

table td:nth-child(3) span {
    color: #B49A6A;
}

.main-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border:1px solid #B49A6A;
    padding: 5px;
}