.note-wrp {  
    margin-top: 15px;
    width: 715px;
}
.note-wrp h3 {
    font-size: 15px;
    color: #000;
    margin: 0 0 3px 0;
}
.note-wrp p {
    border: 1px solid #B49A6A; 
    padding: 5px;   
}

.dropdown-toggle:focus {
    background-color: transparent !important;
}

.field-objectform-order_name {
    position: absolute;
    left: 310px;
    top: 0;
}

.field-objectform-item {
    position: absolute;
    left: 245px;
    top: 0;     
}

.field-objectform-parent_id {
    position: absolute;
    left: 560px;
    top: 0;     
}

.field-objectform-rating {
    position: absolute;
    left: 130px;
    top: 0;     
}

.field-objectform-equipment {
    position: absolute;
    left: 300px;
    top: 0;
}

.field-objectform-weight {
    position: absolute;
    left: 400px;
    top: 0;
}

#objectform-equipment, #objectform-type {
    width: 200px;
}

.object-material-wrp {
    position: absolute;
    top: 0;
    left: 180px;
}

.object-analog-wrp {
    position: absolute;
    top: 0;
    left: 520px;   
}

.object-material, .object-analog {
    width: 150px!important;
}

.field-objectform-analog {
    position: absolute;
    top: 0;
    left: 350px;    
}

.border-bottom {
    border-bottom: 2px solid #B49A6A;
    margin-bottom: 15px;
    padding-bootom: 15px;
}