.active-order {
    margin-top: 15px;
}

/** list content **/
.item-parent {
    background: #E8E8E8;
}

.order-work{
    padding: 5px 5px 5px 30px !important;
}

/** form content **/
.form-wrp, #material-form-wrp, #material-add-form-wrp {
    position: relative;
}

#material-add-form-wrp .order-content-item-material, #material-form-wrp .order-content-item-material {
    position: absolute;
    top: 0;
    left: 360px;
}

.order-content-item-material select{
    width: 150px;
}

.field-ordercontentform-count {
    position: absolute;
    top: 70px;
    left: 150px;    
}

.field-ordercontentform-weight {
    position: absolute;
    top: 70px;
    left: 280px;    
}

.field-ordercontentform-delivery {
    position: absolute;
    top: 94px;
    left: 410px;     
}

.field-ordercontentform-sheet {
    position: absolute;
    top: 5px;
    left: 520px;     
}

.field-ordercontentform-variant {
    position: absolute;
    top: 5px;
    left: 350px;     
}

.field-orderform-tag {
    position: absolute;
    top: 2px;
    left: 420px;   
}

/** form order **/

#order-form-work form {
    padding-left: 15px;
}

.top-box {
    position: relative;
}

.field-orderform-date {
    position: absolute;
    left: 150px;
    top: 0;
}

/**
 * .field-orderform-number {
 *     position: absolute;
 *     left: 300px;    
 * }
 */

#state-wrp {
    position: absolute;
    left: 305px;  
    top: 0;  
}

.field-orderform-type {
  position: absolute;
  left: 470px;  
  top: 0;
}

#state {
    width: 130px;
}

#orderform-type {
    width: 165px;
}

#section-equipments, #equipment-units, #orderform-sections{
    width: 200px;
}

#orderform-issuer, #orderform-customer {
    width: 300px;
}

.middle-box {
    margin: 35px 0 20px;
}

#sections-wrp, #section-equipments-wrp, #equipment-units-wrp {
    position: relative;
    float: left;
    margin-right: 25px;
}

#section-equipments-wrp label,  #equipment-units-wrp label, #sections-wrp label{
    position: absolute;
    top: -20px;       
}

.customer-box, .issuer-box {
    position: relative;
}

.mech-issuer-wrp, .mech-customer-wrp{
    position: absolute;
    left: 350px;
    top: 0;
}

/** top menu list **/
#order-period, #order-customer {
    margin-right: 25px;
}

/** content order tab dismission */
/**
 * #nut-dimensions-wrp {
 *     border: solid 1px black;
 *     padding-left: 25px;
 * }
 */

/**
 * #ordercontentform-nut_thead, #ordercontentform-nut_pitch {
 *     width: 100px;
 * }

 * .field-ordercontentform-nut_pitch {
 *     position: absolute;
 *     left: 200px;
 *     top: 50px;
 * }

 * .field-ordercontentform-nut_pitch label {
 *     position: absolute;
 *     bottom: 40px;
 * }
 */

#bolt-dimensions-wrp {
    position: relative;
}

#ordercontentform-bolt_thread, #ordercontentform-bolt_pitch, #ordercontentform-bolt_length, #ordercontentform-bolt_class {
  width: 150px;
  padding-right: 50px;    
}

.field-ordercontentform-bolt_pitch {
  position: absolute;
  top: 30px;
  left: 175px;    
}

.field-ordercontentform-bolt_length {
  position: absolute;
  top: 30px;
  left: 350px;    
}

.field-ordercontentform-bolt_class {
  position: absolute;
  top: 30px;
  left: 525px;    
}

#order-dwg-options-wrp {
    position: relative;
}

.field-ordercontentform-type_dwg {
    position: absolute;
    left: 220px;
    top: 25px;
}

.field-ordercontentform-filename {
    position: absolute;
    left: 415px;
    top: 0;
}

.field-ordercontentform-file {
    display: none;
    position: absolute;
    left: 400px;
    top: 5px;
}

.equipment-invetory-box {
    position: relative;
}

.field-orderform-inventory {
    position: absolute;
    top: 0;
    left: 450px;
}
