.top-box, .act-form-date-wrp, .act-form-data-wrp, .act-form-order-wrp {
    position: relative;
}

.field-orderactform-department {
    position: absolute;
    top: 0;
    left: 130px;
}

#state-wrp {
    position: absolute;
    top: 0;
    left: 340px;   
}

.field-orderactform-type {
    position: absolute;
    top: 0;
    left: 520px;    
}

.field-orderactform-year {
    position: absolute;
    top: 0;
    left: 335px;    
}

.field-orderactform-month {
    position: absolute;
    top: 0;
    left: 150px;    
}

.field-orderactform-working_hour {
    position: absolute;
    top: 0;
    left: 200px;  
}

.field-orderactform-order_id {
    position: absolute;
    top: 0;
    left: 200px;  
}

.title-box a {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 2px;
    left: 15px;
    text-decoration: underline;
}

.title-box a:hover {
    color: #000 !important;
    text-decoration: none;
}