.top-box, .act-form-date-wrp, .act-form-data-wrp, .act-form-order-wrp {
    position: relative;
    border-bottom: 2px solid #B49A6A;
    margin-bottom: 10px;
    padding: 20px 0;
}

.field-orderactform-department {
    position: absolute;
    top: 20px;
    left: 140px;
}

.field-orderactform-department select {
    width: 270px!important;
}

#state-wrp {
    position: absolute;
    top: 20px;
    left: 450px;
}

.field-orderactform-type {
    position: absolute;
    top: 20px;
    left: 430px;
}

.field-orderactform-year {
    position: absolute;
    top: 20px;
    left: 335px;    
}

.field-orderactform-month {
    position: absolute;
    top: 20px;
    left: 150px;    
}

.field-orderactform-working_hour {
    position: absolute;
    top: 20px;
    left: 200px;  
}

.field-orderactform-order_id {
    position: absolute;
    top: 20px;
    left: 150px;  
}

.title-box a {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 2px;
    left: 15px;
    text-decoration: underline;
}

.title-box a:hover {
    color: #000 !important;
    text-decoration: none;
}

.standing-orders-wrp {
    position: absolute;
    left: 300px;
    top: 20px;
}

#standing-orders {
    width: 220px;
}

/* form content act */

.content-act-form-value-wrp, .content-act-form-order-content-id-wrp {
    position: relative;
    border-bottom: 2px solid #B49A6A;
}

.content-act-form-order-content-id-wrp, .field-orderactcontentform-note {
    margin-top: 10px;
}

.field-orderactcontentform-weight {
    position: absolute;
    top: 0;
    left: 150px;
}

.field-orderactcontentform-act_id {
    position: absolute;
    top: 0;
    left: 200px;
}

.field-orderactcontentform-drawing {
    position: absolute;
    top: 0;
    left: 300px;
}

.field-orderactcontentform-code {
    position: absolute;
    top: 0;
    left: 480px;
}

.count-item {
    width: 50px;
    height: 20px!important;
    position: absolute;
    top: 4px;
    left: 4px;
}

.td-count-field {
    position: relative;
}

.content-order-act {
    width: 725px!important;
    margin: -6px 0 0 -21px;
}