.active-order {
    margin-top: 15px;
}

/** list content **/
.item-parent {
    background: #E8E8E8;
}

.order-work{
    padding: 5px 5px 5px 30px !important;
}

/** form content **/
.form-wrp {
    position: relative;
}

#order-content-item-material {
    position: absolute;
    top: 220px;
    left: 360px;
}

#order-content-item-material select{
    width: 150px;
}

.field-ordercontentform-count {
    position: absolute;
    top: 70px;
    left: 185px;    
}

.field-ordercontentform-weight {
    position: absolute;
    top: 70px;
    left: 350px;    
}

.field-ordercontentform-sheet {
     position: absolute;
    top: 5px;
    left: 350px;     
}

.field-orderform-tag {
    position: absolute;
    top: 2px;
    left: 420px;   
}

/** form order **/

#order-form-work form {
    padding-left: 15px;
}

.top-box {
    position: relative;
}

.field-orderform-date {
    position: absolute;
    left: 150px;
    top: 0;
}

/**
 * .field-orderform-number {
 *     position: absolute;
 *     left: 300px;    
 * }
 */

#state-wrp {
    position: absolute;
    left: 305px;  
    top: 0;  
}

.field-orderform-type {
  position: absolute;
  left: 465px;  
  top: 0;
}

#state {
    width: 120px;
}

#orderform-type {
    width: 230px;
}

#area-mechanism, #mechanism-unit, #orderform-area{
    width: 200px;
}

#orderform-issuer, #orderform-customer {
    width: 300px;
}

.middle-box {
    margin: 35px 0 20px;
}

#area-wrp, #area-mechanism-wrp, #mechanism-unit-wrp {
    position: relative;
    float: left;
    margin-right: 25px;
}

#area-mechanism-wrp label,  #mechanism-unit-wrp label, #area-wrp label{
    position: absolute;
    top: -20px;       
}

.customer-box, .issuer-box {
    position: relative;
}

.mech-issuer-wrp, .mech-customer-wrp{
    position: absolute;
    left: 350px;
    top: 0;
}

/** top menu list **/
#order-period, #order-customer {
    margin-right: 25px;
}

