.active-order {
    margin-top: 15px;
}

/** list content **/
.header-note {
    margin: 15px 0 0 0;
    color: #000;
}

.title-box a {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 2px;
    left: 15px;
    text-decoration: underline;
}

.title-box a:hover {
    color: #000 !important;
    text-decoration: none;
}

.item-parent {
    background: #E8E8E8;
}

.order-work{
    padding: 5px 5px 5px 30px !important;
}

/** form content **/
.form-wrp, #material-form-wrp, #material-add-form-wrp, #unit-name-wrp {
    position: relative;
}

#unit-name-select-wrp {
    position: absolute;
    top: 0;
    left: 430px;    
}

#material-add-form-wrp .order-content-item-material, #material-form-wrp .order-content-item-material {
    position: absolute;
    top: 0;
    left: 360px;
}

.order-content-item-material select {
    width: 150px;
}

.field-ordercontentform-count {
    position: absolute;
    top: 70px;
    left: 150px;    
}

.field-ordercontentform-weight {
    position: absolute;
    top: 70px;
    left: 280px;    
}

.field-ordercontentform-delivery {
    position: absolute;
    top: 94px;
    left: 410px;     
}

.field-ordercontentform-sheet {
    position: absolute;
    top: 5px;
    left: 520px;     
}

.field-ordercontentform-variant {
    position: absolute;
    top: 5px;
    left: 350px;     
}

.field-orderform-tag {
    position: absolute;
    top: 2px;
    left: 420px;   
}

/** form order **/

#order-form-work form {
    padding-left: 15px;
}

.top-box {
    position: relative;
    border-bottom: 2px solid #B49A6A;
    margin-bottom: 10px;
}

.field-orderform-date {
    position: absolute;
    left: 150px;
    top: 0;
}

#state-wrp {
    position: absolute;
    left: 245px;
    top: 5px;
}

.field-orderform-type {
  position: absolute;
  left: 300px;
  top: 0;
}

.field-orderform-service {
    position: absolute;
    left: 230px;
    top: 65px;
}

#state {
    width: 130px;
}

#orderform-type {
    width: 165px;
}

#section-equipments, #equipment-units, #orderform-sections, #orderform-groups, #orderform-subgroups, #orderform-subgroup-units{
    width: 200px;
}

#orderform-issuer, #orderform-customer {
    width: 300px;
}

.middle-box {
    margin: 35px 0 20px;
}

#section-equipments-wrp {
    position: absolute;
    top: 5px;
    left: 250px
}

#equipment-units-wrp {
    position: absolute;
    top: 5px;
    left: 480px;
}

.issuer-customer-wrp {
    border-bottom: 2px solid #B49A6A;
    margin-bottom: 10px;
}

.customer-box, .issuer-box {
    position: relative;
}

.mech-issuer-wrp, .mech-customer-wrp{
    position: absolute;
    left: 350px;
    top: 0;
}

/** top menu list **/
#order-period, #order-customer, #order-type, #order-state, #order-kind{
    width: 130px;
    margin-right: 15px;
}

#bolt-dimensions-wrp {
    position: relative;
}

#ordercontentform-bolt_thread, #ordercontentform-bolt_pitch, #ordercontentform-bolt_length, #ordercontentform-bolt_class {
  width: 150px;
  padding-right: 50px;    
}

.field-ordercontentform-bolt_pitch {
  position: absolute;
  top: 30px;
  left: 175px;    
}

.field-ordercontentform-bolt_length {
  position: absolute;
  top: 30px;
  left: 350px;    
}

.field-ordercontentform-bolt_class {
  position: absolute;
  top: 30px;
  left: 525px;    
}

#order-dwg-options-wrp {
    position: relative;
}

.field-ordercontentform-type_dwg {
    position: absolute;
    left: 220px;
    top: 25px;
}

.field-ordercontentform-filename {
    position: absolute;
    left: 415px;
    top: 0;
}

.field-ordercontentform-file {
    display: none;
    position: absolute;
    left: 400px;
    top: 5px;
}

.equipment-unit-box {
    position: relative;
    border-bottom: 2px solid #B49A6A;
    margin-bottom: 10px;
}

.field-orderform-equipment {
    margin-top: 15px;
}

.field-orderform-unit {
    position: absolute;
    top: 70px;
    left: 345px;
}

.field-orderform-unit_blank {
    position: absolute;
    top: 0;
    left: 315px;
}

.sections-equipment-wrp {
    border-bottom: 2px solid #B49A6A;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.groups-subgroups-wrp {
    position: relative;
    border-bottom: 2px solid #B49A6A;
    padding-bottom: 20px;
}

#subgroups-wrp {
    position: absolute;
    top: 0;
    left: 230px;
}

#subgroup-units-wrp {
    position: absolute;
    top: 0;
    left: 460px;
}

.field-orderform-unitsubgroup {
    position: absolute;
    top: 65px;
    left: 315px;
}

.field-orderform-subgroup {
    margin-top: 15px;
}

#table-order-acts {
    width: 725px;
}

#short-note {
    color: #0f0f0f;
}

#change-dwg-object {
    color: #494949;
}
